@model IEnumerable<Link>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">



<div class="my-5">
    <div class="row col-12 mb-3">
        <div class="row col-2 form-group ">
            <a asp-action="Create" class="btn btn-outline-secondary">Create New Link</a>
        </div>
    </div>
</div>

<partial name="Partial/PartialPageBars/_Table" model="@Model"/>

