@model IEnumerable<Link>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">




<div class="row col-12 my-5">
    <div class="text-center">
        <a asp-action="Create" class="btn btn-outline-secondary col-8">Create New Link</a>
    </div>
</div>



<partial name="Partial/PartialPageBars/_Table" model="@Model"/>

